.flora * { color: inherit }
::selection { background: ivory; color: darkviolet }
.sol.sol { background: #ec0; color: #111 }
.luna.luna { background: #212; color: orchid }
.jugo.jugo { background: orchid; color: #111 }
:focus { outline: thick groove }

.mundo {
  font-family: monospace;
  font-size: calc(1em + 1vw + 1vh);
  line-height: 1.618;
}

.cuerpo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.capo {
  font-size: 2rem;
  font-weight: 600;
}

.muy {
  font-style: inherit;
  text-transform: uppercase;
  font-weight: bolder;
}

.spine {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.amor {
  margin: 0;
  max-width: 100%;
  flex-basis: 100%;
}

.quote {
  box-sizing: border-box;
  padding: 1rem;
  border-left: .25rem dashed;
  display: block;
  min-height: 100vh;
}

.loco {
  transform: rotate(180deg);
}

.voz {
  font-size: 0;
}
